.movie {
  flex: 0 0 auto; /* Garante que os cards não encolham */
  width: 310px; /* Largura fixa do card */
  height: 460px; /* Altura fixa do card */
  margin: 1.5rem;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out,
    filter 0.3s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

.movie .imageWrapper {
  width: 100%;
  height: 100%;
}

.movie .imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  width: 100%;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  background: rgba(43, 75, 111, 0.8);
}

.movie .overlay h3 {
  font-size: 1.4rem;
  color: #ffffff;
  margin: 0;
}

.movie .overlay .details {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
  font-size: 1rem;
  color: #fff;
}

.movie .overlay .details span,
.movie .overlay .details p {
  margin: 0;
  font-weight: 400;
}

.movie:hover {
  transform: scale(1.08);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4), 0px 0px 0px 2px white;
  filter: brightness(0.7);
}

.movie:hover .overlay {
  transform: translateY(0);
}

.movie:hover .overlay h3,
.movie:hover .overlay .details {
  background: none;
  color: white;
}





