html, body {
  height: 100%;  /* Garantir que a altura da página ocupe 100% */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  /* Flexbox para alinhar o conteúdo e o footer em uma coluna */
}

.container {
  flex: 1; /* O conteúdo ocupa o restante do espaço disponível */
}

.footer {
  width: 100%;
  background-color: #0a1128;
  color: white;
  text-align: center;
  padding: 20px 0;  /* Padding de 20px em cima e embaixo */
  position: relative;  /* Para que o conteúdo dentro do footer fique bem posicionado */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.logo {
  height: 60px;
}

/* Adicionamos uma classe específica para o parágrafo no footer */
.footer p {
  font-size: 12px; /* Ajuste de tamanho para manter um bom equilíbrio */
  position: absolute;  /* Para posicionar o texto sobre a faixa azul */
  bottom: 10px;  /* Coloca o texto no fundo da faixa */
  width: 100%;
  margin: 0;  /* Remove qualquer margem indesejada */
}
