/* Isso garante que o conteúdo ocupe toda a altura da página e o footer fique no final */
html, body {
  height: 100%;  /* Isso vai garantir que a altura total da página ocupe 100% */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  /* Flexbox para manter o conteúdo e o footer em uma coluna */
}

.container {
  flex: 1; /* O conteúdo ocupa o restante do espaço */
}

.footer {
  width: 100%;
  height: 80px;  /* Altura padrão */
  background-color: #0a1128;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;  /* Isso empurra o footer para o final da página */
  position: relative;  /* Mantém ele dentro do fluxo do layout */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.logo {
  height: 60px;
}

p {
  font-size: 12px; /* Ajuste para melhor equilíbrio */
}
