@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

:root {
  --font-raleway: "Raleway", sans-serif;
  --font-inter: "Inter", sans-serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-raleway);
  background: url(./assets/backgroundDevLand.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden; /* Impede que o corpo da página tenha largura aumentada */
}

#app {
  padding: 4em 4em 0 4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.search {
  width: 80%;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  background: #ffffff;
  margin-top: -150px;
}

.search img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 0.5rem;
  filter: invert(0) grayscale(100%) contrast(100%) brightness(0);
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  color: #000000;
  background: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.3rem;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9d3b4;
}

@media screen and (max-width: 768px) {
  .imgInicial img {
    height: 40vh; /* A altura será 40% da altura da tela em dispositivos móveis */
  }
}

@media screen and (max-width: 480px) {
  .imgInicial img {
    height: 50vh; /* A altura será 50% da altura da tela em telas menores */
  }
}

.container {
  width: 100%;
  margin-top: 3rem;
  font-family: var(--font-inter);
  font-weight: 400;
  text-align: left;
  width: 100%;
  padding-left: 2rem; /* Alinha o título à esquerda */
}

/* Container para os filmes com rolagem horizontal e arrastável */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 600px) {
  #app {
    padding: 4rem 2rem;
  }
  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
  }
  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 400px) {
  #app {
    padding: 4rem 1rem;
  }
  .movie {
    width: 100%;
    margin: 1rem;
  }
}

.movie {
  width: 310px;
  height: 460px;
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border: none;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  scroll-snap-align: start; /* Garante que o filme se alinhe ao começar */
}

.movie div:nth-of-type(1) {
  position: absolute;
  text-align: center;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
  color: #f9d3b4;
}

.movie:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.4);
  transform: scale(1.05, 1.05);
}

.movie div:nth-of-type(2) img {
  height: 100%;
  width: 100%;
}

.movie div:nth-of-type(3) {
  z-index: 2;
  background: #343739;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 24px 24px;
}

.movie div:nth-of-type(3) span {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #f0f0f0;
}

.movie div:nth-of-type(3) h3 {
  margin-top: 5px;
  color: #f9d3b4;
}

.movie:hover div:nth-of-type(2) {
  height: 100%;
  opacity: 0.3;
}

.movie:hover div:nth-of-type(3) {
  background: transparent;
}

.movie:hover div:nth-of-type(1) {
  opacity: 1;
}
